@font-face {
    font-family: 'outrun_future';
    src: url('../fonts/future-webfont.woff2') format('woff2'),
         url('../fonts/future-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'baumans';
    src: url('../fonts/baumans-regular-webfont.woff2') format('woff2'),
         url('../fonts/baumans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.main-content {
  margin-top: 100px;
}
.parallax-window {
  position: absolute;
}

.navbar-custom .nav li a {
  transition: padding 0.3s;
}
.navbar-custom .nav li a:hover {
  color: #ffff86;
}
.navbar-custom.top-nav-collapse {
  background-color: #710671;
  height: 50px;
}

.navbar-custom.top-nav-collapse .nav li a {
  color: #fefefe;
  padding-top: 16px;
  padding-bottom: 16px;
}
.navbar-custom.top-nav-collapse .nav li a:hover {
  color: #ffff86;
}
.navbar-custom .navbar-brand {
  padding: 5px;
}
.navbar-custom .navbar-brand img {
  background: white;
  height: 60px;
  transition: ease-in 0.3s;
}

.navbar-custom.top-nav-collapse .navbar-brand img {
  height: 40px;
}

@media(min-width: 768px) {
  section {
    min-height: 100%;
  }
}