/* fonts */
@font-face {
  font-family: 'outrun_future';
  src: url('../fonts/future-webfont.woff2') format('woff2'),
       url('../fonts/future-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'snack_patrol';
  src: url('../fonts/snack_patrol.woff2') format('woff2'),
       url('../fonts/snack_patrol.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'baumans';
  src: url('../fonts/baumans-regular-webfont.woff2') format('woff2'),
       url('../fonts/baumans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* global stuff */
html {
  background-color: #efefef;
}
body {
  color: #333;
}
.visible-xl {
  display: none;
}

/* content */
.main-content {
  margin-top: 100px;
}
.parallax-window {
  position: absolute;
}
section.content-section {
  padding-top: 70px;
}
section.content-section .section-title {
  font-family: 'snack_patrol';
  color: rgba(113, 6, 113, 0.8);
  font-size: 70px;
  letter-spacing: 10px;
}

.card {
  border-radius: 5px;
  margin: 0 5px 5px 5px;
  background-color: #fefefe;
}
.card img.card-cover {
  border-radius: 5px 5px 0 0;
}
.card .card-content {
  box-shadow: 0 1px 6px -1px rgba(0,0,0,0.5);
  border-radius: 0 0 5px 5px;
}
.card .card-content .card-body {
  padding: 16px;
  position: relative;
}
.card.has-cover .card-content .card-body .card-title {
  position: absolute;
  top: -50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  text-align: left;
}
.card.has-cover .card-content .card-body .card-title a {
  font-family: 'baumans';
  color: rgb(243, 243, 5);
  text-shadow: 2px 2px 2px #710671;
  text-transform: capitalize;
  text-decoration: none;
}
.card.has-cover .card-content .card-body .card-subtitle {
  font-family: 'baumans';
  text-align: center;
  color: green;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.card.has-cover .card-content .card-body .card-date {

}
.card .card-content .card-body .card-description {
  text-align: left;
  font-size: 15px;
  color: #555;
}
.card .card-content .card-body .card-details {
  text-align: left;
  color: #515151;
  margin-bottom: 0;
}
.card .card-content hr {
  margin: 0;  
}
.card .card-content .card-footer {
  overflow: hidden;
}

.card .card-content .card-footer .card-action {
  color: #710671;
  float: left;
  padding: 15px;
  font-size: 20px;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  margin-left: 5px;
}
.card .card-content .card-footer .card-action:first-child {
  border-radius: 0 0 0 5px;
  margin-left: 0;
}
.card .card-content .card-footer .card-action:hover {
  background-color: rgba(113, 6, 113, 0.6);
  color: rgb(243, 243, 5);
}
.card .card-content .card-footer .card-action:active {
  background-color: rgba(113, 6, 113, 0.8);
  color: rgb(243, 243, 5);
}
.card.event-card {
  height: 570px;
}
.card.event-card .card-description {
  height: 115px;
}
/* /content */

/* misc */
.carousel-indicators li {
  border-color: #710671;
}
.carousel-indicators li.active {
  background-color: rgb(243, 243, 5);
}
/* /misc */

/* nav */
.navbar-custom .nav li a {
  transition: padding 0.3s;
  -moz-transition: padding 0.3s;
  -webkit-transition: padding 0.3s;
}
.navbar-custom .nav li a:hover {
  color: #ffff86;
}
.navbar-custom {
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}

.navbar-custom.top-nav-collapse {
  background-color: #710671;
  height: 50px;
  box-shadow: 0 2px 6px 1px rgba(0,0,0,0.4);
  border: none;
  display: block;
  opacity: 1;
  visibility: visible;
}

.navbar-custom.top-nav-collapse .nav li a {
  color: #fefefe;
  padding-top: 16px;
  padding-bottom: 16px;
}
.navbar-custom.top-nav-collapse .nav li a:hover {
  color: #ffff86;
}
.navbar-custom .navbar-brand {
  padding: 5px;
}
.navbar-custom .navbar-brand img {
  background: white;
  height: 60px;
  transition: ease-in 0.3s;
  -moz-transition: ease-in 0.3s;
  -webkit-transition: ease-in 0.3s;
}

.navbar-custom.top-nav-collapse .navbar-brand img {
  height: 40px;
}

/* /nav */

/* footer */
#footer {
  background-color: #710671;
  padding: 20px 0;
  color: #fefefe;
}
#footer p {
  margin-bottom: 5px;
  font-size: 14px;
}
#footer p strong {
  color:  #ffff86;
}

/* /footer */

/* media queries */
@media(min-width: 768px) {
  section {
    min-height: 100%;
  }
}

@media(max-width: 768px) {
  .navbar-custom {
    background: #710671;
  }
  .navbar-custom,
  .navbar-custom .navbar-header {
    height: 70px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  .navbar-custom .navbar-header .navbar-toggle {
    margin-top: 16px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  .navbar-custom.top-nav-collapse .navbar-header {
    height: 50px;
  }
  .navbar-custom.top-nav-collapse .navbar-header .navbar-toggle {
    margin-top: 7px;
  }
  .navbar-custom.top-nav-collapse .nav li a {
    padding: 10px 15px;
  }
  .navbar-custom .navbar-collapse {
    background: purple;
  }
}
@media(min-width: 1500px) {
  .visible-xl {
    display: block!important;
  }
  .hidden-xl {
    display: none!important;
  }
}
/* /media queries */