@font-face {
    font-family: 'outrun_future';
    src: url('../fonts/future-webfont.woff2') format('woff2'),
         url('../fonts/future-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'baumans';
    src: url('../fonts/baumans-regular-webfont.woff2') format('woff2'),
         url('../fonts/baumans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html {
  background-color: #efefef;
}
body {
  color: #333;
}

.main-content {
  margin-top: 100px;
}
.parallax-window {
  position: absolute;
}

.navbar-custom .nav li a {
  transition: padding 0.3s;
  -moz-transition: padding 0.3s;
  -webkit-transition: padding 0.3s;
}
.navbar-custom .nav li a:hover {
  color: #ffff86;
}
.navbar-custom {
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}

.navbar-custom.top-nav-collapse {
  background-color: #710671;
  height: 50px;
  box-shadow: 0 2px 6px 1px rgba(0,0,0,0.4);
  border: none;
  display: block;
  opacity: 1;
  visibility: visible;
}

.navbar-custom.top-nav-collapse .nav li a {
  color: #fefefe;
  padding-top: 16px;
  padding-bottom: 16px;
}
.navbar-custom.top-nav-collapse .nav li a:hover {
  color: #ffff86;
}
.navbar-custom .navbar-brand {
  padding: 5px;
}
.navbar-custom .navbar-brand img {
  background: white;
  height: 60px;
  transition: ease-in 0.3s;
  -moz-transition: ease-in 0.3s;
  -webkit-transition: ease-in 0.3s;
}

.navbar-custom.top-nav-collapse .navbar-brand img {
  height: 40px;
}

#footer {
  background-color: #710671;
  padding: 20px 0;
  color: #fefefe;
}
#footer p {
  margin-bottom: 5px;
  font-size: 14px;
}
#footer p strong {
  color:  #ffff86;
}

@media(min-width: 768px) {
  section {
    min-height: 100%;
  }
}

@media(max-width: 768px) {
  .navbar-custom {
    background: #710671;
  }
  .navbar-custom,
  .navbar-custom .navbar-header {
    height: 70px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  .navbar-custom .navbar-header .navbar-toggle {
    margin-top: 16px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  .navbar-custom.top-nav-collapse .navbar-header {
    height: 50px;
  }
  .navbar-custom.top-nav-collapse .navbar-header .navbar-toggle {
    margin-top: 7px;
  }
  .navbar-custom.top-nav-collapse .nav li a {
    padding: 10px 15px;
  }
  .navbar-custom .navbar-collapse {
    background: purple;
  }
}