@font-face {
  font-family: 'gotham';
  src: url('../fonts/gotham.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'solano';
  src: url('../fonts/SolanoGothicMVB-SbCap.woff') format('woff'),
    url('../fonts/SolanoGothicMVB-SbCap.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'solano_bold';
  src: url('../fonts/SolanoGothicMVB-BdCap.woff') format('woff'),
    url('../fonts/SolanoGothicMVB-BdCap.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* global stuff */
html {
  background-color: #efefef;
}
body {
  color: #333;
  background-color: #efefef;
  font-family: 'Montserrat',Arial,sans-serif;
}
a {
  cursor: pointer;
  text-decoration: none;
}
.visible-xl {
  display: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

/* content */
.main-content {
  margin-top: 60px;
}
.parallax-window {
  position: absolute;
}
.btn, .navbar-custom, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat',Arial,sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}

section.content-section {
  padding-bottom: 0;
  padding-top: 0;
}
section.content-section:first-child {
  padding-top: 70px;
}
section.content-section:last-child {
  padding-bottom: 50px;
}
section.content-section:first-child {
  padding-top: 0;
}
section.content-section .section-title {
  font-family: 'solano_bold';
  font-weight: bold;
  color: rgba(113, 6, 113, 0.8);
  font-size: 70px;
  text-transform: uppercase;
}
section.content-section .section-subtitle {
  font-family: 'gotham';
  font-size: 30px;
  font-weight: normal;
}
section.content-section .section-text {
  text-align: left;
}
section .row.inside-bar {
  background: #fefefe;
  margin: 40px -15px;
  padding: 20px;
}

.card {
  border-radius: 5px;
  margin: 0 5px 5px 5px;
  background-color: #fefefe;
}
.card img.card-cover {
  border-radius: 5px 5px 0 0;
}
.card .card-content {
  box-shadow: 0 1px 6px -1px rgba(0,0,0,0.5);
  border-radius: 0 0 5px 5px;
}
.card .card-content .card-body {
  padding: 16px;
  position: relative;
}
.card.has-cover .card-title {
  position: absolute;
  top: -50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  text-align: left;
  font-size: 24px;
}
.card.has-cover .card-title a {
  font-family: 'gotham';
  color: rgb(243, 243, 5);
  /*text-shadow: 2px 2px 2px #710671;*/
  text-transform: capitalize;
  text-decoration: none;
}
.card.has-cover .card-content .card-body .card-subtitle,
.event-subtitle {
  font-family: 'gotham';
  text-align: center;
  color: green;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.event-date {
  text-align: center;
}
.card.has-cover .card-content .card-body .card-date,
.event-date a {
  color: #444;
  text-align: center;
}
.card .card-content .card-body .card-description {
  text-align: left;
  font-size: 15px;
  color: #555;
  display: none;
}
.card .card-content .card-body .card-time  {
  text-align: center;
}
.card .card-content .card-body .card-details,
.event-details {
  text-align: left;
  color: #515151;
  margin-bottom: 0;
  min-height: 64px;
}
.card .card-content hr {
  margin: 0;  
}
.card .card-content .card-footer {
  overflow: hidden;
}

.card .card-content .card-footer .card-action {
  color: #710671;
  float: left;
  padding: 15px;
  font-size: 20px;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  margin-left: 5px;
}
.card .card-content .card-footer .card-action:first-child {
  border-radius: 0 0 0 5px;
  margin-left: 0;
}
.card .card-content .card-footer .card-action:hover {
  background-color: rgba(113, 6, 113, 0.6);
  color: rgb(243, 243, 5);
}
.card .card-content .card-footer .card-action:active {
  background-color: rgba(113, 6, 113, 0.8);
  color: rgb(243, 243, 5);
}
.card.event-card .card-description {
  height: 120px;
}
.page-header h2,
.page-header h1 {
  letter-spacing: 3px;
  margin-left: 16px;
  text-transform: uppercase;
}
.page-header h3 {
  font-family: 'solano_bold';
  margin-left: 16px;
}
/* /content */

/* misc */
.carousel-indicators li {
  border-color: #710671;
}
.carousel-indicators li.active {
  background-color: rgb(243, 243, 5);
}
a.link-dark {
  color: #710671;
  cursor: pointer;
}
a.link-dark:hover {
  color: rgba(113, 6, 113, 0.8);
}
.word-separator {
  margin-bottom: 20px;
  font-size: 20px;
  color: #555;
  text-align: center;
  font-family: 'gotham';
}
.text-primary {
  color: #710671;
}
/* /misc */

/* forms */
.btn {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 5px;
}
.btn-primary {
  background-image: linear-gradient(rgba(113, 6, 113, 0.6),rgba(113, 6, 113, 0.8) 6%,#710671);
  /*color: rgb(243, 243, 5);*/
  background-color: rgba(113, 6, 113, 0.3);
  border: 1px solid #000;
  font-family: 'gotham';
  font-size: 16px;
  text-transform: uppercase;
}
.btn-primary:hover {
  background-color: rgba(113, 6, 113, 0.8);
  background-image: linear-gradient(rgba(113, 6, 113, 0.6),rgba(113, 6, 113, 0.8) 6%,#710671);
  /*color: rgb(243, 243, 5);*/
  border: 1px solid rgba(113, 6, 113, 1);
}
.btn-primary:active,
.btn-primary.active {
  background-image: linear-gradient(rgba(113, 6, 113, 0.8),rgba(113, 6, 113, 0.9) 6%,#710671);
  background-color: rgba(113, 6, 113, 0.8);
}
.btn-primary.active:hover,
.btn-primary:active:hover,
.btn-primary.focus, .btn-primary:focus {
  background-color: rgba(113, 6, 113, 1);
}
.btn-social {
  padding: 5px 10px;
  border-radius: 0;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 15px;
  color: white;
}
.btn-social.btn-login {

}
.btn-social.btn-facebook {
  background: #3b5998;
  border-bottom: 1px solid #29487d;
}
.btn-social.btn-facebook:hover {
  background: #2c4986;
}
.btn-social.btn-facebook:active {
  background: #29487d;
}
.btn-social.btn-google {
  background: #f44836;
  border-bottom: 1px solid #d42c20;
}
.btn-social.btn-google:hover {
  background: #e03e32;
}
.btn-social.btn-google:active {
  background: #d42c20;
}
.oauth-login-buttons {
  max-width: 400px;
  margin: auto;
  text-align: center;
  margin-bottom: 15px;
}
.oauth-login-buttons .btn-social {
  width: 49%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.form-400 {
  max-width: 400px;
  margin: auto;
}
.form-control {
  width: 100%;
  border-radius: 0;
  padding: 12px 15px;
  font-size: 15px;
  height: 44px;
  margin: auto;
  margin-bottom: 15px;
}
.form-group .help-block {
  max-width: 400px;
  margin: auto;
}
/* nav */
.navbar-custom .nav li a {
  transition: padding 0.3s;
  -moz-transition: padding 0.3s;
  -webkit-transition: padding 0.3s;
}
.navbar-custom .nav li a:hover {
  color: #ffff86;
}
.navbar-custom {
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
}


.navbar-custom {
  background-color: #710671;
  padding: 0;
}
.navbar-custom ul.nav li a {
  padding: 21px 25px;
}
.navbar-custom.top-nav-collapse {
  background-color: #710671;
  height: 50px;
  box-shadow: 0 2px 6px 1px rgba(0,0,0,0.4);
  border: none;
  display: block;
  opacity: 1;
  visibility: visible;
}

.navbar-custom.top-nav-collapse .nav li a {
  color: #fefefe;
  padding-top: 16px;
  padding-bottom: 16px;
}
.navbar-nav>li>.dropdown-menu > li > a:hover,
.navbar-custom.top-nav-collapse .nav li a:hover {
  color: #ffff86;
}
.navbar-custom .navbar-brand {
  padding: 10px;
}
.navbar-custom .navbar-brand img {
  background: white;
  height: 40px;
  transition: ease-in 0.3s;
  -moz-transition: ease-in 0.3s;
  -webkit-transition: ease-in 0.3s;
}
.navbar-custom.top-nav-collapse .navbar-brand {
  padding: 5px;
}
.navbar-custom.top-nav-collapse .navbar-brand img {
  height: 40px;
}
.nav .open>a, 
.nav .open>a:focus, 
.nav .open>a:hover {
  background-color: transparent;
}
.navbar-nav>li>.dropdown-menu {
  background: #670567;
}
.navbar-nav>li>.dropdown-menu > li > a {
  padding: 5px 10px;
  color: #fefefe;
}
.navbar-custom.top-nav-collapse .nav li a:hover,
.navbar-nav>li>.dropdown-menu > li > a:hover {
  background: rgba(255, 255, 255, 0.2);
}
/* /nav */

/* footer */
#footer {
  background-color: #710671;
  padding: 20px 0;
  color: #fefefe;
}
#footer p {
  margin-bottom: 5px;
  font-size: 14px;
}
#footer p strong {
  color:  #ffff86;
}
#footer .su-logo {
  display: inline-block;
}

/* /footer */

/* events */
#events .event-wrapper {
  margin-bottom: 6px;
}
#events .event-wrapper .card {
  height: 300px;
}
#events .event-wrapper .card .card-body {
  height: 240px;
}
#events .event-wrapper .card .card-body .card-title {
  position: static;
  margin-bottom: 5px;
  margin-top: 0;
  white-space: normal;
}
#events .event-wrapper .card .card-body .card-title a {
  color: #333;
  /*text-shadow: 1px 1px 1px rgb(243, 243, 5);*/
}
#events .event-wrapper .card .card-body .card-date {
  margin-bottom: 5px;
}
#events .event-wrapper .card .card-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-origin: 0,0;
  background-size: cover;
  height: 100%;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: inset 0 -50px 200px -50px #000;
  -moz-box-shadow: inset 0 -50px 200px -50px #000;
  box-shadow: inset 0 -50px 200px -50px #000;
}
#events .event-wrapper .card .card-cover:hover {
  -webkit-box-shadow: inset 0 -50px 200px -10px #000;
  -moz-box-shadow: inset 0 -50px 200px -10px #000;
  box-shadow: inset 0 -50px 200px -10px #000;
}
#events .event-wrapper .card .front {
  z-index: 2!important;
  display: none;
}
#events .event-wrapper .card.flip .front {
  display: block;
}
#events .event-wrapper .card .front .card-title {

}
#events .event-wrapper .card .front .card-date {
  bottom: 0;
  position: absolute;
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 16px;
}#events .event-wrapper .card .front .card-date a {
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
#events .event-wrapper.mix {
  display: none;
  padding: 0 1px;
}
#events .event-card {
  background-color: transparent;
}
#events .card.event-card .card-description {
  height: 60px;
  margin-bottom: 20px;
}
#events .event-card .card-content {
  background-color: #fefefe;
  border-radius: 5px;
}
#events .event-card .card-title {
  bottom: 0;
  top: auto;
  margin-left: 20px;
}
#events .event-card .card-details {
  font-size: 15px;
  font-weight: bold;
}
#events .event-card .card-subtitle {
  display: none;
}
/* /events */
/* media queries */
@media(min-width: 768px) {
  section {
    min-height: 100%;
  }
  .main-content {
    min-height: 100%;
  }
  .page.main-content {
    min-height: 95%;
  }
}

@media(max-width: 768px) {
  .navbar-custom {
    background: #710671;
    padding: 0;
  }
  .navbar-custom,
  .navbar-custom .navbar-header {
    height: 70px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  .navbar-custom .navbar-header .navbar-toggle {
    margin-top: 16px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
  }
  .navbar-custom.top-nav-collapse .navbar-header {
    height: 50px;
  }
  .navbar-custom.top-nav-collapse .navbar-header .navbar-toggle {
    margin-top: 7px;
  }
  .navbar-custom.top-nav-collapse .nav li a {
    padding: 10px 15px;
  }
  .navbar-custom .navbar-collapse {
    background: purple;
  }
  section.content-section .section-title {
    font-size: 2.5pc;
  }
  #footer > .container > .row > .col-sm-6 {
    text-align: center;
  }
  #events {
    min-height: 300px;
  }
  #events .event-wrapper .card,
  #events .card.event-card .card-body {
    height: auto;
  }
  #events .card.event-card .card-description {
    display: none;
  }
  #events .card .card-content .card-body .card-date, .event-date a {
    text-align: left;
    margin-bottom: 10px;
  }
  #events .card.flip .front {
    display: none!important;
  }
  #events .card.flip .back {
    transform: none!important; 
    z-index: auto!important; 
    backface-visibility: visible!important; 
    transform-style: none!important; 
    position: static!important; 
    height: auto!important; 
    width: auto!important; 
    transition: none!important;
    display: block!important; 
  }
}
@media(min-width: 1500px) {
  .visible-xl {
    display: block!important;
  }
  .hidden-xl {
    display: none!important;
  }
  .col-xl-2 {
    width: 20%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
/* /media queries */